<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

    <Properties>
        <Property name="LOG_PATTERN">[start]%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n[end]</Property>
        <Property name="APP_LOG_ROOT">C:\Users\aaron\Documents\GitHub\web-server\log</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>"${LOG_PATTERN}"</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile
                name="rollingFile"
                fileName="${APP_LOG_ROOT}\application.log"
                filePattern="${APP_LOG_ROOT}\application.%d{dd-MMM}.log"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>"${LOG_PATTERN}"</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
        <Async name="ASYNC">
            <AppenderRef ref="rollingFile"/>
            <AppenderRef ref="CONSOLE"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ASYNC"/>
        </Root>
    </Loggers>
</Configuration>