.main {
    text-align: center;
    margin: auto;
    max-width : 1000px;
}

td {
    border-bottom-style: solid;
    border-width : 1px;
}

th {
    border-bottom-style: solid;
    border-width : 2px;
}C:\Users\aaron\Documents\GitHub\web-server\WEBROOT\gw2\endpoint_Test\accounts.json